<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243091011391-21danndqn2eukgpurrrelp4lk955nnpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243091011391-21danndqn2eukgpurrrelp4lk955nnpp</string>
	<key>API_KEY</key>
	<string>AIzaSyAM2NiIbfxuV_ktiGdyvTtLTCX_ehjFmMY</string>
	<key>GCM_SENDER_ID</key>
	<string>243091011391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LinFamily.love-food-record</string>
	<key>PROJECT_ID</key>
	<string>love-food-record</string>
	<key>STORAGE_BUCKET</key>
	<string>love-food-record.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243091011391:ios:767a632857e40abd9c058a</string>
	<key>DATABASE_URL</key>
	<string>https://love-food-record.firebaseio.com</string>
</dict>
</plist>